{
  "printWidth": 140,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "proseWrap": "never",
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-packagejson"],
  "organize-imports": {
    "react": {
      "import": "react",
      "unused": "preserve",
      "named": ["React", "Component"]
    }
  }
}
